@font-face {
    font-family: typewriter;
    src: url(fonts/tw.otf);
}

@font-face {
    font-family: typewriter-bold;
    src: url(fonts/tw.otf);
}

:root {
    --primary-color:#ffffff;
    --primary-color-dark:#000000;
    --text-dark:#949494;
    --white:#ffffff;
    --background:#585858;
}

body {
    text-align: center;
    font-family: typewriter;
    background-color: rgb(29, 29, 29);
    color: white;
    align-content: center;
}

.footer {
    text-align: center;
    display: block;
    color: var(--text-dark);
    font-size: small;
    margin-top: 25rem;
}

.rFooter {
    text-align: center;
    display: block;
    color: var(--text-dark);
    font-size: small;
    margin-top: 18rem;
}

header {
    text-align: center;
    margin-right: 32px;
}

nav {
    text-align: center;
}

a {
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-size: x-large;
    padding: 20px
}

a.active {
    color: white;
}

li {
    padding: 10px 50px 10px 50px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: border-color .2s linear
}

li.active {
    border-color: white;
}

li:hover {
    border-color: white;
}

section {
    margin-top: 15%
}

button {
    margin-top: 40%;
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    transition: border-color .2s
}

button a {
    font-family: typewriter;
    color: white;
    transition: color .2s
}

button a:hover {
    color: rgb(109, 109, 109);
}

button:hover {
    border-color: rgb(109, 109, 109);
}

.container {
    display: inline-block;
}

.text {
    margin-top: 2rem;
    max-width: 800px;
    font-size: xx-large;
    letter-spacing: 2px;
    border-right: 3px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: 
        typing 1s steps(30),
        cursor .5s step-end infinite alternate;
}

/* Cursor Blinking */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from { width: 0;}
}

div {
    display: inline-block;
}

p {
    max-width: 800px;
    text-align: center;
    margin-top: 25%;
    line-height: 30px;
    letter-spacing: 1.5px;
    width: 100%;
}


/* REVIEWS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerr {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.container_left h1 {
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    border-bottom: 1px solid white;
    color: var(--primary-color);
}

.container_left p {
    color: var(--text-dark);
    margin-bottom: 2rem;
    font-size: large;
}

.container_left button {
    padding: 1rem 2rem;
    margin-top: 4rem;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.container_right {
    margin-top: 6rem;
    display: grid;
    gap: 2rem;
}

.card {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    letter-spacing: 1px;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, .5);
    cursor: pointer;
    max-height: 300px;
}

.card img {
    max-width: 75px;
    border-radius: 100%;
}

.card_content {
    display: flex;
    gap: 1rem;
}

.card_content span i {
    font-size: 2rem;
    color: black;
    white-space: nowrap;
}

.card_details p {
    font-style: italic;
    color: black;
    margin-bottom: 1rem;
    text-align: left;
}

.card_details h4 {
    text-align: right;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

@media (width < 1200px) {
    .containerr {
        gap: 3rem;
    }
}

@media (width < 900px) {
    .containerr {
        grid-template-columns: repeat(1, 1fr);
    }

    .container_right {
        margin-top: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 750px) {
    .container_right {
        margin-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}